<div id="iqp" class="panel panel-default">
	<div class="panel-heading">
		<h4>
      IQP: Assessment and Catalogue of Puerto Rican Mooring Buoys
    </h4>
	</div>

  <div class="panel-body">
		<p> The Interdisciplinary Qualifying Project is a major project conducted at WPI intended to develop collaborative skills in a cross major environment. This IQP was conducted in Puerto Rico for the Department of Natural and Environmental Resources (<a href="http://drna.pr.gov/" rel="noopener" target="_blank">DRNA</a>) by Brittney McNally, Eric Greer, Ryan LaSante &amp; Greg Coffey. This project was advised by Professors <a href="https://web.cs.wpi.edu/~kal/" target="_blank" rel="met colleague noopener">Karen Lemone</a>, CS &amp; <a href="https://www.wpi.edu/people/faculty/ishockey#profile-faculty_profile" rel="met colleague noopener" target="_blank">Ingrid Shockey</a>, IGSD.
		</p>

		<h3>Abstract</h3>
		<p>
      The Department of Natural and Environmental Resources of Puerto Rico has installed over 270 mooring buoys in seagrass, coral, and mangrove regions with the anticipation that they will curb boating damage and allow these natural environments to recover. To streamline buoy management, our group constructed a Geographic Information System database. This contains data we gathered at each buoy concerning its exact GPS location, condition, the recovery of the environment it is protecting, and observations of boating trends within the region.
		</p>

		<h3>Links</h3>
		<ul>
			<li>
        <a  href="https://www.wpi.edu/Pubs/E-project/Available/E-project-050509-131649/" target="_blank" rel="noopener">Assessment and Catalogue of Puerto Rican Mooring Buoys</a>
      </li>
			<li>
        <a href="https://www.wpi.edu/academics/undergraduate/interactive-qualifying-project" target="_blank" rel="noopener">WPIs IQP</a>
      </li>
		</ul>
	</div>
</div>
