<div id="mqp" class="panel panel-default">
	<div class="panel-heading">
		<h4>MQP: WPI Helpdesk Employee Management System</h4>
	</div>
	<div class="panel-body">
		<p> The Major Qualifying Project is the capstone project at WPI intended to demonstrate the knowledge and skills developed in the undergraduate program. This MQP was conducted by Jason Codding and Eric Greer and advised by Professor <a href="https://web.cs.wpi.edu/~ciaraldi/" rel="met colleague">Michael Ciaraldi</a> of the Computer Science Department at WPI.
		</p>

		<h3>Abstract</h3>
		<p>
		The goal of this project was to design and develop an employee management system for the WPI Helpdesk. This system was developed to fill existing gaps in the electronic management of employees. The scope of the project included researching and evaluating various Web technologies and analysis and design of employee profiles, electronic timesheets, employee performance reviews, and an integrated hiring process. Development work included construction of the core system framework, creation and management of accounts, employee profiles, and electronic timesheets, and a foundation for future modules.
		</p>

		<h3>Links</h3>
		<ul>
			<li>
        <a href="https://www.wpi.edu/Pubs/E-project/Available/E-project-042710-223328/" target="_blank">WPI Helpdesk Employee Management System</a>
      </li>
			<li>
        <a href="https://www.wpi.edu/academics/undergraduate/major-qualifying-project" target="_blank">WPIs MQP</a>
      </li>
		</ul>
	</div>
</div>
