---
layout: default
group: "navigation"
title: "Theater"
order: 4
---
<div class="panel panel-default">
	<div class="panel-heading">
		<h4>Theater and Musicals</h4>
	</div>

    	<div class="panel-body">

		<p>I have been interested in musical theater since I began my first show in high school, and have worked on the technical aspects of several productions. Most recently stage managed for South Portland High School&rsquo;s musical productions. Below are all the shows I&rsquo;ve been involved in.</p>

	</div>

</div>

{% include theater/shows/2016pippin.show %}
{% include theater/shows/2015marypoppins.show %}
{% include theater/shows/2014shrek.show %}
{% include theater/shows/2013tmm.show %}
{% include theater/shows/2011tmm.show %}
{% include theater/shows/2007bob.show %}
{% include theater/shows/2006sweeneytodd.show %}
{% include theater/shows/2006bob.show %}
{% include theater/shows/2006guysanddolls.show %}
{% include theater/shows/2005dracula.show %}
{% include theater/shows/2005annie.show %}
{% include theater/shows/2005bob.show %}
{% include theater/shows/2005rumors.show %}
{% include theater/shows/2005beautyandthebeast.show %}
{% include theater/shows/2004romeoandjuliet.show %}
{% include theater/shows/2004bob.show %}
{% include theater/shows/200442ndstreet.show %}
{% include theater/shows/2003thewiz.show %}
