---
layout: default
group: "navigation"
title: "WPI"
order: 3
redirect_from:
  - /courses/MQP.html
  - /courses/IQP.html
  - /courses/taken.html
---
<div class="panel panel-default">
	<div class="panel-heading">
		<h4>Worcester Polytechnic Institute</h4>
	</div>

  <div class="panel-body">

		<p>I attended college at WPI which exposed me to many projects and opportunities which impacted my development both as a computer scientist and a person.</p>


		<h4>Projects</h4>
		<ul>
			<li><a href="#mqp">MQP: WPI Helpdesk Employee Management System</a></li>
			<li><a href="#iqp">IQP: Assessment and Catalogue of Puerto Rican Mooring Buoys</a></li>
			<li><strong>Humanities Sufficency:</strong> Spanish</li>
			<li><a href="#courses">Courses Taken</a></li>
		</ul>

		<h4>Course Code</h4>
		<p>Code that I have written for various projects is hosted on <a href="https://github.com/egreer/egreer-wpi" target="_blank" rel="noopener">GitHub</a></p>
	</div>

</div>

{% include wpi/mqp.html %}
{% include wpi/iqp.html %}
{% include wpi/courses.html %}
